.git
.gitignore
node_modules
**/node_modules
**/.turbo
**/dist
**/build
*.log
.env
.env.*
!deploy/.env.template
.local
.replit
replit.nix
*.md
!deploy/README.md
artifacts/mockup-sandbox
artifacts/tanitim/node_modules
artifacts/buro-ajani/node_modules
artifacts/api-server/node_modules
lib/*/node_modules
